
<%- include("partials/header"); -%>

    <div>
        <h1><%=title%></h1>
    </div>
    
    <img class="img-post" src=<%=image%> alt="alternative_text">
    <p class="p"><%=content%></p>
      <div>
            <a href="/edit/<%=_id.toString()%>" class="btn btn-primary">Edit</a>
            <a href="/delete/<%=_id.toString()%>" class="btn btn-primary">Delete</a>
        </div>


<%- include("partials/footer"); -%>
